@import 'reset';

html, body, main{
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    width: 100%;
    margin: 20px 0;
    justify-content: center;
    &__title{
        font-size: 36px;
        color: blue;
    }

}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    align-items: stretch;
    &__top{
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
}

.form{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    row-gap: 15px;
    width: 45%;
}

.form label{
    grid-column: 1/11;
}

.form input{
    grid-column: 12/25;
}

.form select{
    grid-column: 12/25;
    background-color: white;
}
.form .button_container{
    display: flex;
    width: 100%;
    grid-column: 1/25;
    justify-content: space-between;
    justify-self: center;
}

.form .button_container button{
    width: 150px;
}

#load_data{
    width: 200px;
}


.tabs{
    display: flex;
    margin-top: 20px;
    &__tab{
        margin: 5px 10px;
    }
    &__tab:hover{
        cursor: pointer;
    }
}

.highlighted{
    position: relative;
}

.highlighted::after{
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    border-bottom:2px solid  #13406d;
    width: 100%;
}


.currency_rate{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
    &__table{
        border-collapse: collapse;
        width: 100%;
    }

    &__table th{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        position: relative;
        padding: 0 2px;
    }

    &__table th,
    &__table td{
        background-color: inherit;
        border: 1px solid black;
        
    }
}

.order img{
    position: absolute;
    left: 85%;
    top: 2px;
    display: none;
    width: 15px;
}

.show_order_img{
    display: block !important;
}

.pagination{
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

.page{
    border: thin solid blue;
    text-align: center;
    width: 20px;
    margin: 0 2px;
}

.page:hover{
    cursor: pointer;
}

.selected_page{
    background-color: rgb(164, 190, 238);
}

.prev, .next{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.filter{
    width: 100%;
}

.chart{
    margin-top: 20px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
    margin-bottom: 20px;

    &__canvas-wrapper{
        height: 100%;
        width: 100%;
        border: thin solid grey;
    }
}
.chart select{
    margin-right: 10px ;
}
.chart input {
    margin-right: 10px;
}







