@import 'reset';

.header{
    display: flex;
    width: 100%;
    margin: 20px 0;
    justify-content: center;
    &__title{
        font-size: 36px;
        color: blue;
    }

}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.form{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    row-gap: 15px;
    width: 350px;
}

.form label{
    grid-column: 1/11;
}

.form input{
    grid-column: 12/25;
}
.form .button_container{
    display: flex;
    width: 250px;
    grid-column: 1/25;
    justify-content: space-between;
    justify-self: center;
}

.form .button_container button{
    width: 100px;
}


.tabs{
    display: flex;
    margin-top: 20px;
    &__tab{
        margin: 5px 10px;
    }
    &__tab:hover{
        cursor: pointer;
    }
}

.highlighted{
    position: relative;
}

.highlighted::after{
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    border-bottom:2px solid  #13406d;
    width: 100%;
}


.currency_rate{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    &__table{
        border-collapse: collapse;
        width: 100%;
    }

    &__table th{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    &__table th,
    &__table td{
        background-color: inherit;
        border: 1px solid black;
        
    }
}

.pagination{
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

.page{
    border: thin solid blue;
    text-align: center;
    width: 20px;
    margin: 0 2px;
}

.page:hover{
    cursor: pointer;
}

.selected_page{
    background-color: rgb(164, 190, 238);
}

.prev, .next{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.filter{
    width: 100%;
}







